@using Infinity_States.Data
@using System.Globalization
@model Article

<div class="textblock">
    <img class="poster" src="@Model.Poster">
    <span name="title" type="text" class="title">@Model.Title</span> <br>

    <div class="author-and-date">
        <img class="avatar" src="~/img/default_avatar.jpg"><a class="author-username" href="/users/@Model.AuthorId">@Model.Author</a>
        <span class="publication-time">@Model.PublicationDateTime.ToString("MMMM dd, yyyy", CultureInfo.InvariantCulture)</span>
    </div>

    <div class="line"></div>
    <pre class="content"></pre>
</div>

<script>
    const content = document.querySelector('pre.content');

    content.innerHTML = "@Model.Content";
    content.innerHTML = content.innerText;
</script>