@{
    string username = Context.User.Identity.Name;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @await Html.PartialAsync("CssPartial")
    @RenderSection("styles", false)
    <link rel="shortcut icon" type="image/png" href="~/img/icon.png"/>
    <script defer src="~/build/alpine.js"></script>
    <script defer src="~/build/components.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav x-data="{ accountModal: '', searchView: false }" x-init="accountModal = new DropdownModal('.dropdown-modal')" class="navbar">
        <div class="nav-items">
            <p class="top-title"><a href="/">Infinity States</a></p>
            <div x-cloak class="links" :class="{ 'hidden': searchView }">
                <a id="all-page" href="/articles/all"><img src="~/img/compass.svg"></a>
                <a id="editor-page" href="/editor"><img src="~/img/plus.svg"></a>

                @if (username != null) { <a id="account-page" x-on:click="accountModal.toggle()"><img src="~/img/profile.svg"></a> }
                else {  <a id="account-page" href="/account"><img src="~/img/profile.svg"></a>  }
                <a id="search-page" x-on:click="searchView = !searchView" href="#"><img src="~/img/search.svg"></a>
            </div>

            <section x-show="searchView" x-transition:enter.duration.250ms x-on:mousedown.outside="searchView = false" class="search-container">
                <input x-cloak x-on:keyup.escape="searchView = false" 
                x-on:keyup.enter="window.location = window.origin + '/search?req=' + $el.value; $el.value = ''"
                type="text" class="search" placeholder="Your search request...">
            </section>
        </div>

        <section class="dropdown-modal">
            <div>
                <div class="account-data">
                    <img src="~/img/default_avatar.jpg" alt="icon" id="avatar" width="44" height="44">
                    <span>@username</span>
                </div>
    
                <ul>
                    <li><a href="#">Favorite</a></li>
                    <li><a href="/account">Your articles</a></li>
                    <li><a href="#">Your lists</a></li>
                    <li><a href="#">Your posts</a></li>
                    <li><a href="#">Notifications</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Theme: Light</a></li>
                    <li><a href="#">Launguage: UK</a></li>
                    
                    <form method="post" action="/account/logout">
                        @Html.AntiForgeryToken()
                        <button type="submit">Sign Out</button>
                    </form>
                </ul>
            </div>
        </section>
    </nav>
    <script src="~/build/app.js" type="text/javascript"></script>

    @RenderBody()
    @await Html.PartialAsync("ScriptsPartial")
    @RenderSection("scripts", false)
</body>
</html>